# Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under 
# one or more contributor license agreements. Licensed under the Elastic License 2.0; 
# you may not use this file except in compliance with the Elastic License 2.0.

# Requirements for the LOBSHOT configuration extractor from Elastic Security Labs.

pefile==2023.2.7
